<!--
 * @Author: wangguixing 1163260785@qq.com
 * @Date: 2023-03-07 23:54:04
 * @LastEditors: wangguixing 1163260785@qq.com
 * @LastEditTime: 2023-03-31 21:33:01
 * @FilePath: \wangguixing\src\template.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<h2>wangguixing</h2>

<blockquote>最后更新于 <%= updatedAt %></blockquote>

<img
  src="https://visitor-badge.glitch.me/badge?page_id=wangguixing"
  alt="visitor badge"
/>
<img src="https://api.oneneko.com/v1/bing_today" alt="每日更新一图"/>
<h2>⏬ 项目</h2>

<table>
  <thead align="center">
    <tr>
      <th>项目</th>
      <th>Github</th>
      <th>简述</th>
      <th>技术</th>
      <th>状态</th>
    </tr>
  </thead>

  <tbody align="left">
    <% projects.forEach(function(project){ %>
    <tr>
      <th>
        <a href="<%= project.preview || project.github %>" target="_blank">
          <%= project.repo %>
        </a>
      </th>
      <th>
        <a href="<%= project.github %>" target="_blank">Github</a>
      </th>
      <th><%= project.logo %> <%= project.desc %></th>
      <th>
        <% project.techList.forEach(function(tech){ %>
        <img src="<%= tech %>" alt="badge" />
        <% }); %>
      </th>
      <th>
        <%= project.status %>
      </th>
    </tr>
    <% }); %>
  </tbody>
</table>
